# Windows Venv directories
Include
Lib
Scripts

# Mac Venv directories
bin
lib
config.pyc

# Other Venv files/dirs
__pycache_/
/bot/__pycache__/
config.cpython-39.pyc
pyvenv.cfg

# Config files
data/
user_data.json

# Logging files
status_log.txt

# Vscode
.vscode
*.pyc
